/* TODO: td gets height dynamically*/
td {
    width: 64px;
    height: 64px;
    padding: 0;
}

tr {
    height: 64px;
}

table: {
    border: none;
}

tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #0083FF;
}
tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #0083FF;
}

tr:nth-child(2n) td:nth-child(2n+1).dimmed {
    background-color: #223e9c;
}

tr:nth-child(2n+1) td:nth-child(2n).dimmed {
    background-color: #223e9c;
}

tr:nth-child(2n) td:nth-child(2n).dimmed {
    /*instead of white square*/
    background-color: #b5b5b5;
}

tr:nth-child(2n+1) td:nth-child(2n+1).dimmed {
    /*instead of white square*/
    background-color: #b5b5b5;
}

@keyframes enemy_blinking {
    0% {background-color: rgba(255, 0, 0, 0);}
    50% {background-color: rgba(255, 0, 0, 1);}
    100% {background-color: rgba(255, 0, 0, 0);}
}

.tag_enemy {
    /*TODO: nicer color*/
    background-color: red;
    animation: enemy_blinking 4s infinite;
}
