@font-face {
    font-family: "Clarendon-Regular";
    src: url("../fonts/Clarendon-Regular.otf") format("truetype");
}

#logo {
    transform: scaleY(-1);
}

#app_name {
    padding-top: 8px;
    font-family: "Clarendon-Regular";
}

body {
    background-color: #91C7F5;
}

footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid black;
}

header {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

button {
    width: 300px;
    background-color: #FFA710;
    border: none;
    padding: 20px 50px 20px 50px;
    font-family: "Clarendon-Regular";
    /* font-size: large; */
}

#supportButton {
    margin-left: auto;
}

#resignButton {
    margin-top: 70px;
    margin-bottom: 20px;
}

#timer {
    position: absolute;
    right: 0;
    margin-right: 5px;
    font-family: "Clarendon-Regular";
}

.my_message {
    align-self: flex-start;
    padding: 5px;
    font-family: "Clarendon-Regular";
}

.enemy_message {
    align-self: flex-end;
    padding: 5px;
    font-family: "Clarendon-Regular";
}

article {
    display: flex;
    flex-direction: row;
}

article > section {
    flex: 1;
}

#chat_part {
    flex: 2;
}

#chess_window {
    flex: 4;
}

#player_timer {
    flex: 1;
    position: relative;
}

#actions {
    flex: 1;
    text-align: center;
}

#my_timer {
    position: absolute;
    bottom: 0;
    font-family: "Clarendon-Regular";
}

#enemy_timer {
    font-family: "Clarendon-Regular";
}

#status_message {
    font-family: "Clarendon-Regular";
}

#chat_window {
    height: 95%;
    width: 95%;
    background-color: #F1F1F1;
    display: flex;
    flex-flow: column nowrap;
}

#chat_box {
    margin-top: 5px;
    width: calc(95% - 7px);
}

#chess_board > table {
    margin-left: auto;
    margin-right: auto;
}

#captured_friendly_pieces, #captured_enemy_pieces {
    /*background-color: #F1F1F1;*/
    height: 40px;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}

/* TODO: td gets height dynamically*/
td {
    width: 64px;
    height: 64px;
    padding: 0;
}

tr {
    height: 64px;
}

table: {
    border: none;
}

tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #0083FF;
}
tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #0083FF;
}

tr:nth-child(2n) td:nth-child(2n+1).dimmed {
    background-color: #223e9c;
}

tr:nth-child(2n+1) td:nth-child(2n).dimmed {
    background-color: #223e9c;
}

tr:nth-child(2n) td:nth-child(2n) {
    /*instead of white square*/
    background-color: white;
}

tr:nth-child(2n+1) td:nth-child(2n+1) {
    /*instead of white square*/
    background-color: white;
}

tr:nth-child(2n) td:nth-child(2n).dimmed {
    /*instead of white square*/
    background-color: #b5b5b5;
}

tr:nth-child(2n+1) td:nth-child(2n+1).dimmed {
    /*instead of white square*/
    background-color: #b5b5b5;
}

@keyframes enemy_blinking {
    0% {background-color: rgba(255, 0, 0, 0);}
    50% {background-color: rgba(255, 0, 0, 1);}
    100% {background-color: rgba(255, 0, 0, 0);}
}

.tag_enemy {
    /*TODO: nicer color*/
    background-color: red;
    animation: enemy_blinking 3s infinite;
}

.hidden {
    display: none;
}
