@font-face {
    font-family: "Clarendon-Bold";
    src: url("../fonts/Clarendon-Bold.ttf") format("truetype");
}

footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#horizontal_middle {
    display: flex;
    flex-direction: row;
}

#horizontal_middle > div {
    flex: 1;
}

footer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex: 1;
}

footer > div > img {
    margin-left: auto;
}

h2 {
    text-align: center;
    margin-right: auto;
    margin-left: 30px;
    color: #F1F1F1;
    font-family: "Clarendon-Bold";
}

h1 {
    color: #F1F1F1;
    font-family: "Clarendon-Bold";
}

#vertical_middle {
    text-align: center;
}

#logo, #piece_icon {
    transform: scaleY(-1);
}

#left_middle, #right_middle {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

button {
    width: 300px;
    background-color: #FFA710;
    margin-bottom: 50px;
    border: none;
    padding: 20px 50px 20px 50px;
    font-family: "Clarendon-Bold";
}

body {
    background-color: #0083FF 
}

.bring_down {
    margin-top: 115px;
}
