@font-face {
    font-family: "Clarendon-Regular";
    src: url("../fonts/Clarendon-Regular.otf");
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-family: "Clarendon-Regular";
    font-size: larger;
}

a {
    z-index: 1000;
}

#supportLink {
    color: gold;
}

#left {
    display: flex;
    font-family: "Clarendon-Regular";
    font-size: large;
}

#middle {
    font-family: "Clarendon-Regular";
    font-size: large;
    display: flex;
}

#right {
    display: flex;
    font-family: "Clarendon-Regular";
    font-size: large;
}

button {
    width: 300px;
    background-color: #FFA710;
    border: none;
    padding: 20px 50px 20px 50px;
    font-size: large;
    font-family: "Clarendon-Regular";
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: #ad8107;
}

button::before {
    content: "â® ";
}

#logo:hover {
    transform: scale(1.1);
}

article > div {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: square;
}

#logo {
    transform: scaleY(-1);
}

body {
    background-color: #0083FF;
}

article > p {
    margin-left: auto;
    margin-right: auto;
}

